@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<TelerikTabStrip>
    <TabStripTab Title="First Tab">
        <div>
            This is the content for the **First Tab**.
        </div>
    </TabStripTab>
    <TabStripTab Title="Second Tab">
        <div>
            The second tab can hold different content, like another Blazor component.
        </div>
    </TabStripTab>
    <TabStripTab Title="Disabled Tab" Disabled="true">
        <div>
            You won't see this content because the tab is disabled.
        </div>
    </TabStripTab>
</TelerikTabStrip>
