@page "/"

<PageTitle>Home</PageTitle>

<TelerikTabStrip>
    <TabStripTab>
        <HeaderTemplate>
            <span title="This tab is disabled for editing.">
                🔒 Locked Tab
            </span>
        </HeaderTemplate>
        </TabStripTab>
        <TabStripTab Title="Orders" >
        <HeaderTemplate>
            <strong class="tab-header-style" title="mcpItem?.DisplayName"> Order-Display-name</strong>
            <button type="button" class="position-absolute end-0 bg-transparent border-0 tab-header-style" @onclick:stopPropagation @onclick=@(() => ClosePaneTab(mcpItem!))>
                <span aria-hidden=true >&times;</span>
            </button>            
        </HeaderTemplate>
        </TabStripTab>
</TelerikTabStrip>
